# Mobile Tools for Java (J2ME)
.mtj.tmp/
.idea/
target/
.settings/
.project
.classpath

*/.settings/
*/.project
*/.classpath
*/bin/
*/idea/
*/target/


# Package Files #
*.jar
*.war
*.ear
*.iml
*.log
