<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxplay.dao.IAppBathInfoDetailDao" >
  <resultMap id="BaseResultMap" type="com.xxplay.pojo.app.AppBathInfoDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="infoId" property="infoid" jdbcType="INTEGER" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="show_name" property="showName" jdbcType="VARCHAR" />
    <result column="search_keys" property="searchKeys" jdbcType="VARCHAR" />
    <result column="apptag" property="apptag" jdbcType="VARCHAR" />
    <result column="app_type" property="appType" jdbcType="VARCHAR" />
    <result column="isOnline" property="isonline" jdbcType="CHAR" />
    <result column="picList" property="piclist" jdbcType="VARCHAR" />
    <result column="pak_name" property="pakName" jdbcType="VARCHAR" />
    <result column="appdesc" property="appdesc" jdbcType="VARCHAR" />
    <result column="evil_level" property="evilLevel" jdbcType="INTEGER" />
    <result column="recomm_flag" property="recommFlag" jdbcType="VARCHAR" />
    <result column="recomm_level" property="recommLevel" jdbcType="INTEGER" />
    <result column="recomm_word" property="recommWord" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, infoId, app_name, show_name, search_keys, apptag, app_type, isOnline, picList, 
    pak_name, appdesc, evil_level, recomm_flag, recomm_level, recomm_word
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_app_bath_info_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_app_bath_info_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xxplay.pojo.app.AppBathInfoDetail" >
    insert into t_app_bath_info_detail (id, infoId, app_name, 
      show_name, search_keys, apptag, 
      app_type, isOnline, picList, 
      pak_name, appdesc, evil_level, 
      recomm_flag, recomm_level, recomm_word
      )
    values (#{id,jdbcType=INTEGER}, #{infoid,jdbcType=INTEGER}, #{appName,jdbcType=VARCHAR}, 
      #{showName,jdbcType=VARCHAR}, #{searchKeys,jdbcType=VARCHAR}, #{apptag,jdbcType=VARCHAR}, 
      #{appType,jdbcType=VARCHAR}, #{isonline,jdbcType=CHAR}, #{piclist,jdbcType=VARCHAR}, 
      #{pakName,jdbcType=VARCHAR}, #{appdesc,jdbcType=VARCHAR}, #{evilLevel,jdbcType=INTEGER}, 
      #{recommFlag,jdbcType=VARCHAR}, #{recommLevel,jdbcType=INTEGER}, #{recommWord,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xxplay.pojo.app.AppBathInfoDetail" >
    insert into t_app_bath_info_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="infoid != null" >
        infoId,
      </if>
      <if test="appName != null" >
        app_name,
      </if>
      <if test="showName != null" >
        show_name,
      </if>
      <if test="searchKeys != null" >
        search_keys,
      </if>
      <if test="apptag != null" >
        apptag,
      </if>
      <if test="appType != null" >
        app_type,
      </if>
      <if test="isonline != null" >
        isOnline,
      </if>
      <if test="piclist != null" >
        picList,
      </if>
      <if test="pakName != null" >
        pak_name,
      </if>
      <if test="appdesc != null" >
        appdesc,
      </if>
      <if test="evilLevel != null" >
        evil_level,
      </if>
      <if test="recommFlag != null" >
        recomm_flag,
      </if>
      <if test="recommLevel != null" >
        recomm_level,
      </if>
      <if test="recommWord != null" >
        recomm_word,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="infoid != null" >
        #{infoid,jdbcType=INTEGER},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="showName != null" >
        #{showName,jdbcType=VARCHAR},
      </if>
      <if test="searchKeys != null" >
        #{searchKeys,jdbcType=VARCHAR},
      </if>
      <if test="apptag != null" >
        #{apptag,jdbcType=VARCHAR},
      </if>
      <if test="appType != null" >
        #{appType,jdbcType=VARCHAR},
      </if>
      <if test="isonline != null" >
        #{isonline,jdbcType=CHAR},
      </if>
      <if test="piclist != null" >
        #{piclist,jdbcType=VARCHAR},
      </if>
      <if test="pakName != null" >
        #{pakName,jdbcType=VARCHAR},
      </if>
      <if test="appdesc != null" >
        #{appdesc,jdbcType=VARCHAR},
      </if>
      <if test="evilLevel != null" >
        #{evilLevel,jdbcType=INTEGER},
      </if>
      <if test="recommFlag != null" >
        #{recommFlag,jdbcType=VARCHAR},
      </if>
      <if test="recommLevel != null" >
        #{recommLevel,jdbcType=INTEGER},
      </if>
      <if test="recommWord != null" >
        #{recommWord,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxplay.pojo.app.AppBathInfoDetail" >
    update t_app_bath_info_detail
    <set >
      <if test="infoid != null" >
        infoId = #{infoid,jdbcType=INTEGER},
      </if>
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="showName != null" >
        show_name = #{showName,jdbcType=VARCHAR},
      </if>
      <if test="searchKeys != null" >
        search_keys = #{searchKeys,jdbcType=VARCHAR},
      </if>
      <if test="apptag != null" >
        apptag = #{apptag,jdbcType=VARCHAR},
      </if>
      <if test="appType != null" >
        app_type = #{appType,jdbcType=VARCHAR},
      </if>
      <if test="isonline != null" >
        isOnline = #{isonline,jdbcType=CHAR},
      </if>
      <if test="piclist != null" >
        picList = #{piclist,jdbcType=VARCHAR},
      </if>
      <if test="pakName != null" >
        pak_name = #{pakName,jdbcType=VARCHAR},
      </if>
      <if test="appdesc != null" >
        appdesc = #{appdesc,jdbcType=VARCHAR},
      </if>
      <if test="evilLevel != null" >
        evil_level = #{evilLevel,jdbcType=INTEGER},
      </if>
      <if test="recommFlag != null" >
        recomm_flag = #{recommFlag,jdbcType=VARCHAR},
      </if>
      <if test="recommLevel != null" >
        recomm_level = #{recommLevel,jdbcType=INTEGER},
      </if>
      <if test="recommWord != null" >
        recomm_word = #{recommWord,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxplay.pojo.app.AppBathInfoDetail" >
    update t_app_bath_info_detail
    set infoId = #{infoid,jdbcType=INTEGER},
      app_name = #{appName,jdbcType=VARCHAR},
      show_name = #{showName,jdbcType=VARCHAR},
      search_keys = #{searchKeys,jdbcType=VARCHAR},
      apptag = #{apptag,jdbcType=VARCHAR},
      app_type = #{appType,jdbcType=VARCHAR},
      isOnline = #{isonline,jdbcType=CHAR},
      picList = #{piclist,jdbcType=VARCHAR},
      pak_name = #{pakName,jdbcType=VARCHAR},
      appdesc = #{appdesc,jdbcType=VARCHAR},
      evil_level = #{evilLevel,jdbcType=INTEGER},
      recomm_flag = #{recommFlag,jdbcType=VARCHAR},
      recomm_level = #{recommLevel,jdbcType=INTEGER},
      recomm_word = #{recommWord,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>