textarea {
	resize: none;
}

.green1 {
	color: #5cb85c
}

.blue1 {
	color: blue;
}

.reg1 {
	color: #d9534f;
}

.orgin1 {
	color: #f0ad4e;
}

.wr10 {
	width: 10%;
}

.wr20 {
	width: 20%;
}

.wr30 {
	width: 30%;
}

.wr40 {
	width: 40%;
}

.wr50 {
	width: 50%;
}

.wr60 {
	width: 60%;
}

.wr70 {
	width: 70%;
}

.wr80 {
	width: 80%;
}

.wr90 {
	width: 90%;
}

.ra50 {
	width: 50px;
}

.ra60 {
	width: 60px;
}

.ra80 {
	width: 80px;
}

.wr100 {
	width: 100%;
}

.ra120 {
	width: 120px;
}

.ra150 {
	width: 150px;
}

.ra180 {
	width: 180px;
}

.ra200 {
	width: 200px;
}

.ra250 {
	width: 250px;
}

.ra280 {
	width: 280px;
}

.mgT10 {
	margin-top: 10px;
}

.mgT15 {
	margin-top: 15px;
}

.mgT20 {
	margin-top: 20px;
}

.mgT25 {
	margin-top: 25px;
}

.mgT30 {
	margin-top: 30px;
}

.mgT35 {
	margin-top: 35px;
}

.mgT40 {
	margin-top: 10px;
}

.mgT50 {
	margin-top: 10px;
}

.mgB10 {
	margin-bottom: 10px;
}

.mgB15 {
	margin-bottom: 15px;
}

.mgB20 {
	margin-bottom: 20px;
}

.mgB25 {
	margin-bottom: 25px;
}

.mgB30 {
	margin-bottom: 30px;
}

.mgB35 {
	margin-bottom: 35px;
}

.mgB40 {
	margin-bottom: 10px;
}

.mgB50 {
	margin-bottom: 10px;
}

.fR {
	float: right;
}

.fL {
	float: left;
}

.tR {
	text-align: right;
}

.tC {
	text-align: center;
}

.tL {
	text-align: left;
}

.curp {
	cursor: pointer;
}

.loadingImg {
	background: url("../../images/loading.gif");
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	width: 156px;
}

.errorDiv {
	display: block;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.panel-search {
	margin-bottom: 10px;
}

.panel-search table {
	width: 100%;
}

.panel-search table td {
	width: 30%;
	height: 35px;
	line-height: 35px;
}

.panel-search table td.title {
	text-align: right;
	width: 20%;
}

.fgf {
	height: 34px;
	width: 20px;
	margin: 0px 5px;
}

.inputText[disabled],.inputText[readonly] {
	background-color: #FFFFFF;
	cursor: pointer;
}

.label-text {
	height: 34px;
	line-height: 34px;
	text-align: right;
}

.btnRow {
	text-align: center;
	margin-bottom: 15px;
}

#page-detailWrapper .page-content {
	clear: both;
	min-height: auto;
	padding: 10px;
}

.pageNo {
	float: right;
	margin-right: 20px;
	padding-top: 17px;
}

page-detailWrapper .pageNo {
	margin-right: 0px;
}

.btn-general {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 10px
}

.btn-general .btn {
	padding: 6px 25px;
	margin-right: 15px;
}

#alertModal .modal-header,#alertModal .modal-footer {
	padding: 5px;
}

#alertModal .modal-body {
	font-size: 14px;
	padding: 25px;
	position: relative;
	text-align: center;
}

.form-group label {
	display: inline-block;
	line-height: 33px;
	max-width: 100%;
	padding: 0;
	text-align: right;
	font-weight: bold;
}

.form-group label .require {
	display: inline-block;
	margin-right: 5px;
}

.errorTips {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.col-md-m {
	padding-left: 0px;
	padding-right: 0px;
	width: 45%;
}

.submitBtn {
	text-align: center;
}

.form-body .form-group {
	margin-bottom: 5px;
}

.tableAlert {
	margin: 15px
}

.form-span {
	line-height: 34px;
	display: block;
}

.col-md-left {
	padding-left: 15px;
	padding-right: 0px;
}

.col-md-right {
	padding-left: 0px;
	padding-right: 0px;
}

.yellow {
	color: #f2994b;
}

.red {
	color: #bf4346;
}

.green {
	color: #488c6c;
}

.blue {
	color: #0a819c;
}

.orange {
	color: #e9662c;
}

#errorTips {
	color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

#errorTips .alert {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.btn-add {
	float: right;
	height: 30px;
	line-height: 15px;
}

fieldset {
	padding: 10px;
	margin: 10px;
	color: #666666;
	border: 1px solid #ccc;
	border-radius: 5px;
}

fieldset legend {
	color: #777;
	font-size: 16px;
	background-color: #FFFFFF;
	margin-bottom: 0;
	text-align: center;
}

legend.dayStatistics {
	width: 115px;
}

.table.table-advanced thead tr th {
	background-color: #efefef;
	border-bottom: 1px solid #ddd;
}

.table.table-advanced thead tr.no-background th {
	background-color: #FFFFFF;
}

.no-background {
	border-bottom: 1px solid #dddddd;
}

.no-background td,.no-background th {
	background-color: #FFFFFF;
}

.statistic-table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	width: 100%;
}

.statistic-table tr {
	border-bottom: 1px solid #ddd;
}

.statistic-table tr.background th,.statistic-table tr.background td {
	background-color: #F0F2F5;
}

.statistic-table td,.statistic-table th {
	text-align: center;
	height: 30px;
	border-right: 1px solid #ddd;
	font-weight: bold;
}

.statistics-div {
	margin: 0;
	overflow-x: auto;
	padding: 0;
	width: 800px;
}

.statistics-div table {
	overflow-x: auto;
	table-layout: fixed;
	width: 3000px;
}

.table th {
	text-align: center;
}

.statistics-div table td,.statistics-div table th {
	height: 34px;
	border-right: 1px solid #ddd;
}

.statistics-div table td,.statistics-div table th:last-child {
	border-right: 0px;
}

.bankOrg {
	float: left;
	width: 75%;
}

.selectOrg {
	width: 23%;
	float: right;
}

.org-div ul {
	padding: 10px;
	margin: 0px;
	overflow: hidden;
}

.org-div ul li {
	float: left;
	list-style-type: none;
	padding: 10px 0px;
	width: 250px;
	margin-left: 5px;
}

.checkOrg {
	width: 200px;
}

.checkOrg input {
	margin-right: 5px;
}

.statisticDim ul {
	margin: 0px;
	padding: 0px;
}

.statisticDim ul li {
	float: left;
	list-style: none;
	padding: 5px 0;
	width: 190px;
}

.statisticDim ul li input {
	margin-right: 5px;
	margin-top: 0;
	vertical-align: middle
}

.statisticDim ul li span {
	vertical-align: middle;
}

.statisticDim ul {
	float: left;
}

.staTips {
	width: 80%;
	margin: 10px auto;
	text-align: center;
	font-size: 14px;
}

.staTips span {
	color: #e74c3c;
	display: inline-block;
	padding: 0px 5px;
}

.input-channle input {
	height: 14px;
	vertical-align: middle;
	margin-top: 0px;
	padding: 0px;
	margin-left: 5px;
}

.input-channle label {
	height: 30px;
	vertical-align: middle;
	margin-top: 0px;
	padding: 0px;
	margin-left: 5px;
}

.portlet-progress {
	width: 100%;
	overflow: hidden;
}

.portlet-progress ul {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.portlet-progress li {
	float: left;
	list-style: outside none none;
	margin: 0 35px;
	width: 90px;
}

.portlet-progress li span {
	display: block;
	font-size: 14px;
	margin: 0 auto 0 20px;
	text-align: center;
	width: 100%;
	color: green;
}

.successJoin {
	color: #e74c3c;
	float: left;
	margin-left: 300px;
	width: 300px;
	display: none;
}

.clock,.clock div {
	float: left;
}

.orderDesc {
	cursor: pointer;
	background-color: #FFFFFF;
	text-align: center;
}

.orderDesc:hover,.orderDesc:hover>span>i {
	color: #e74c3c
}

.spani {
	display: inline-block;
	width: 10px;
}

.orderI {
	color: #488c6c;
}

.login-box {
	width: 100%;
	max-width: 500px;
	height: 400px;
	position: absolute;
	top: 50%;
	margin-top: -200px;
	/*设置负值，为要定位子盒子的一半高度*/
}

@media screen and (min-width:500px) {
	.login-box {
		left: 50%;
		/*设置负值，为要定位子盒子的一半宽度*/
		margin-left: -250px;
	}
}

.form {
	width: 100%;
	max-width: 500px;
	height: 275px;
	margin: 25px auto 0px auto;
}

.login-content {
	height: 300px;
	width: 100%;
	max-width: 500px;
	background-color: rgba(255, 250, 2550, .6);
	float: left;
}

.input-group {
	margin: 30px 0px 00px 0px !important;
}

.form-control,.input-group {
	height: 35px;
}

.form-group {
	margin-bottom: 0px !important;
}

.login-title {
	padding: 20px 10px;
	background-color: rgba(0, 0, 0, .6);
}

.login-title h1 {
	margin-top: 10px !important;
}

.login-title h3,.login-title h4 {
	color: #fff;
}

.link p {
	line-height: 20px;
	margin-top: 30px;
}

.btn-sm {
	padding: 8px 24px !important;
	font-size: 16px !important;
}

.txt {
	border: 1px solid #e5e5e5;
	height: 35px;
	width: 230px;
}

.filebtn {
	height: 35px;
	width: 75px;
}

.file {
	height: 30px;
	left: 0;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	top: 5px;
	vertical-align: middle;
	width: 320px;
}

.help {
	float: right;
	height: 30px;
	width: 30px;
	margin-top: 8px;
	margin-right: 10px;
	position: relative;
}

.help img {
	height: 30px;
	width: 30px;
	cursor: pointer;
}

.help img:hover {
	-webkit-filter: blur(0.5px);
	-moz-filter: blur(0.5px);
	-ms-filter: blur(0.5px);
	filter: blur(0.5px);
}

.helpMain {
	background-color: #f0f2f5;
	border: 1px solid #e5e5e5;
	max-height: 250px;
	position: absolute;
	right: 40px;
	top: 0;
	width: 400px;
	z-index: 10;
}

.helpMain s {
	border-color: transparent transparent transparent #e5e5e5;
	border-style: dashed dashed dashed solid;
	border-width: 10px;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	position: absolute;
	right: -20px;
	top: 5px;
	width: 0;
}

.helpMain s i {
	position: absolute;
	right: -9px;
	top: -10px;
	display: block;
	height: 0px;
	width: 0px;
	font-size: 0px;
	line-height: 0px;
	border-color: transparent transparent transparent #F0F2F5;
	border-style: dashed dashed dashed solid;
	border-width: 10px;
}

.closeHelp {
	padding-left: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #E5E5E5;
}

.closeHelp i {
	cursor: pointer;
	font-size: 18px;
}

.closeHelp i:hover {
	color: #e74c3c;
}

.helpContent .content {
	padding: 10px 5px;
	max-height: 230px;
	overflow-y: auto;
}

.helpContent .content p {
	text-indent: 2em;
	margin: 0;
}

#page_crumb li i {
	margin-right: 5px;
	margin-left: 5px;
}

#mainFrame {
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	min-height: 500px;
}

#pageDirect {
	text-align: right;
	margin-right: 0px;
	margin-top: -25px
}

.btn-table {
	float: right;
	padding: 5px 15px;
	margin-top: -3px
}

.fileupload-buttonbar{
	margin-top: 10px;
}